.App {
  text-align: center;
}

.App-header {
  height: 8vh;
  background-color: #9ED6F9;
  /*This is what aligns it to the left (hugging the left line from grid template columns) */
  justify-items: start;
  align-items: start;
  color: white;
  display: grid;
  /*https://dev.to/luisaugusto/stop-using-fixed-headers-and-start-using-sticky-ones-1k30*/
  position: sticky;
  top: 0;

  grid-template-columns: [first] 20vw [second] 75vw [third];
  grid-template-rows: [first] 8vh [end];
}

.logo-item {
  grid-column-start: first;
  grid-row-start: first;
  grid-column-end: second;
  grid-row-end: end;
}

.description-item {
  grid-column-start: second;
  grid-row-start: first;
  grid-column-end: third;
  grid-row-end: end;
}

.word-cloud-image-bg {
  /*https://www.freewordcloudgenerator.com/generatewordcloud*/
  background: url("assets/word-cloud.svg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  /*Had to use 100% instead of cover!*/
  background-size: 100%;
}

.room-elements {
  width: 100vw;
  padding-bottom: 3em;
  text-align: left;
}

.game-page {
  text-align: left;
  padding-top: 2vh;
  padding-left: 2vh;
}

.total-canvas {
  height: 640px;
  width: 640px;
}

/*there will always be 40/(4+1) = 8 per row --> 40 = width of grid, 4=width, 1=spacing*/
.letter-container {
  height: 4vh;
  width: 4vw;
}

.game-page-grid-container {
  display: grid;
  grid-template-columns: [leftmost] 40vw [middle1] 20vw [middle2] 40vw [end];
  grid-template-rows: [topmost] 50vh [middle] 40vh [end];
  justify-items: left; /* Moves all elements to top left of the box they are placed in */
}

.board-item {
  grid-column-start: leftmost;
  grid-row-start: topmost;
  grid-column-end: middle1;
  grid-row-end: middle;
}

.scores-item {
  grid-column-start: middle2;
  grid-row-start: topmost;
  grid-column-end: end;
  grid-row-end: end;
}

.word-entry-item {
  grid-column-start: leftmost;
  grid-row-start: middle;
  grid-column-end: middle1;
  grid-row-end: end;
}

.game-stream-item {
  grid-column-start: middle2;
  grid-row-start: middle;
  grid-column-end: end;
  grid-row-end: end;
}

.game-stream {
  overflow-y: scroll;
  height: 30vh;
}
